{% extends "base.html" %}

{% block content %}
    <div class="container">
    <div class="jumbotron">
        <h1>Hello</h1>
        <h3>Welcome to my shiny new blog about using Flask and Python.</h3>
    </div>
    <div class="container-fluid bg-info">
        <h3>About the Author:</h3>
        <p style="color:green; font-size:16px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Nunc aliquet
        bibendum enim facilisis gravida neque. Feugiat in ante metus dictum at
        tempor commodo ullamcorper. Amet nulla facilisi morbi tempus iaculis.
        Nunc pulvinar sapien et ligula ullamcorper malesuada proin. Malesuada
        proin libero nunc consequat interdum varius sit amet. Aliquet nec
        ullamcorper sit amet risus nullam eget felis. Tristique senectus et
        netus et. Mauris cursus mattis molestie a iaculis at erat pellentesque
        adipiscing. A arcu cursus vitae congue mauris rhoncus aenean vel elit.
        Fusce ut placerat orci nulla pellentesque dignissim. Urna cursus eget
        nunc scelerisque viverra. Scelerisque fermentum dui faucibus in ornare
        quam viverra orci. Tempus iaculis urna id volutpat lacus laoreet non
        curabitur. Id porta nibh venenatis cras. Vehicula ipsum a arcu cursus
        vitae congue mauris rhoncus aenean.</p>
    </div>
    </div>
{% endblock %}