{% extends 'bootstrap/base.html' %}

<html>
    <head>
        {% if title %}
        <title>{{ title }} - My Flask Blog</title>
        {% else %}
        <title>My Flask Blog</title>
        {% endif %}
    </head>
    <body>

        {% block navbar %}
        <div class="container"
            <div class="navbar navbar-fixed-top">
               <h3> My Flask Blog: <a href='/index'>Home</a> | <a href='/about'>About Me</a></h3>
            </div>
        </div>
        {% endblock %}

        {% block content %}
        {% endblock %}

    </body>
</html>